
.cardSectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  align-items: flex-start;
  flex-direction:row;
}
.searchBarContainer{
  margin-left:80px;
  margin-bottom:50px;
}
.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 90%; 
}

.searchBar {
  flex: 1;
}



