.adPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  color: var(--background);
  background-color: var(--primary);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  font-family: var(--font-tajawal);
}
