.adPanel {
    padding: 32px;
    color: var(--background); ;
    background-color: var(--primary);
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    font-family:  var(--font-tajawal);
  }
  
