.favoriteButton {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
    border: 1px solid white; 
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
    color: rgba(120, 59, 162, 1);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight:700;
    font-family: var(--font-tajawal);
    width: 140px;
    height: 44px;
    line-height:20.4px;
}
  

  
  .heart {
  margin-right:5px;
  }