.section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 50px;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ButtonContainer {
  margin-top: 30px;
}

.Img {
  width: 100%;
}

@media (max-width: 480px) {
  .section {
    flex-direction: column-reverse;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .section {
    flex-direction: column-reverse;
  }
}
