.textBlock {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--font-tajawal);
  color: var(--background);
  direction: rtl;
  margin-bottom: 40px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.textBlock h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}

.textBlock p {
  font-size: 19px;
  margin-right: 10%;
  font-weight: 500;
}

@media ((min-width: 768px) and (max-width: 1440px)) {
  .textBlock {
    align-items: center;
  }

  .titleContainer {
    align-items: flex-start;
  }

  .textBlock h3 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }

  .textBlock p {
    margin-right: 0;
    line-height: 22.8px;
  }
}

@media ((min-width: 480px) and (max-width: 768px)) {
  .textBlock {
    gap: 10px;
    text-align: center;
  }

  .titleContainer {
    margin: 0 auto;
    width: 80%;
  }

  .textBlock h3 {
    margin: 0;
    font-size: 20px;
  }

  .textBlock p {
    font-size: 12px;
    width: 80%;
  }
}

@media (max-width: 481px) {
  .textBlock {
    text-align: center;
    margin-bottom: 25px;
  }

  .titleContainer {
    margin: 10px auto;
    align-items: flex-end;
  }

  .textBlock h3 {
    font-size: 18px;
    line-height: 21.6px;
  }

  .textBlock p {
    font-size: 15.5px;
    line-height: 19.2px;
    margin-right: 0;
  }
}
