.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 20px;
  border: 1px solid var(--background);
  border-radius: 5px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  color: var(--background);
}

.social-google {
  background-color: #db4a39;
}

.social-facebook {
  background-color: #3566a5;
}

.icon-google {
  background: url("../../../public/icons/google-plus-g.svg") no-repeat center;
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.icon-facebook {
  background: url("../../../public/icons/facebook-f.svg") no-repeat center;
  background-size: contain;
  width: 23px;
  height: 23px;
  display: inline-block;
}
