.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 350px;
}

.iconLogo {
  background-color: var(--primary);
  padding: 35px 26px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardParagraph {
  font-family: var(--font-tajawal);
  font-size: 23px;
  font-weight: 700;
  color: var(--primary);
  padding: 0 5%;
}
