
.container {
    height: auto; /* دع الارتفاع يتكيف مع المحتوى */
    /* background-color: red; */
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap; /* للسماح بالتفاف الكروت */
    justify-content: flex-start; /* لتحديد طريقة توزيع الكروت */
    gap: 20px; /* لإضافة مسافة بين الكروت */
}






.card{
    width:400px;
    height:528.3px;
    /* justify-content:center; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius:8px;
    margin-bottom:20px;
    /* margin-left: 100px; */
}
 .containerOfContent{
    /* background-color:red */
     margin:30px;
}
.heading{
    color:rgba(120, 59, 162, 1);
   font-family:var(--font-tajawal);
   font-weight:700;
   font-size:23px;
   line-height:27.6px;
   /* margin-top:5px; */
   margin-bottom:10px;
   width:100%;
   height:28px;
}
.hashtag{
    color:rgba(120, 59, 162, 1);
   font-family:var(--font-tajawal);
   font-weight:700;
   font-size:18px;
   line-height:21.6px;
   margin-bottom:20px; 
   width:100%;
   height:22px;
}
.textbox{
    width:320px;
    height:50px; 
    border-radius:10px;
    border: 3px solid rgba(120, 59, 162, 1);
}
.paragraph{
    color:rgba(120, 59, 162, 1);
    font-family:var(--font-tajawal);
    font-weight:500;
    font-size:17px;
    line-height:20.4px;
    margin-top:20px;
    margin-bottom:20px; 
    width:316px;
    height:80px;
    text-align:right;
}
.button{
    justify-items:center;
    margin-top:-20px; /* يحرك العنصر للأعلى */

}