@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.iconLogo {
  background-color: rgba(120, 59, 162, 1);
  padding: 35px 26px;
  display: inline-block;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardParagraph {
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: rgba(113, 52, 136, 1);
  margin: 13% 0;
  width: 240px;
}

.middleCard .cardParagraph {
  width: 180px;
}

/* Responsive Behavior */
/* @media (max-width: 1024px) {
  .card {
    width: 45%;
    padding: 15px;
  }

  .cardParagraph {
    font-size: 0.9rem;
  }

  .cardButton {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    padding: 10px;
  }

  .cardParagraph {
    font-size: 0.8rem;
  }

  .cardButton {
    font-size: 0.7rem;
    padding: 6px 12px;
  }
} */
