.section {
  background-image: url("/images/InteractiveTools-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promoBox {
  margin-left: 40px;
}

@media (min-width: 1025px) {
  .section {
    justify-content: flex-start;
    padding-left: 150px;
  }
}

@media (max-width: 480px) {
  .section {
    justify-content: center;
  }

  .promoBox {
    margin: 1px 20px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .section {
    justify-content: center;
  }

  .promoBox {
    margin: auto;
  }
}
