.swiper-button-next, .swiper-button-prev {
    width: 70px; 
    height: 70px; 
    background-color: white;
    border-radius: 50%;
    color: var(--primary);
    border: 4px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
    font-weight: 900;
    color: var(--primary);
  }
  
